* {
    font-family: "Poppins", sans-serif; 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    margin: 47px 0px 115px 42px;
}
.link-header {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #17233D;
    cursor: pointer;
    margin: 20px;
}
main {
    display: flex;

}
button {
    background: #4CB538;
    border-radius: 20.5px;
    width: 124px;
    height: 51px;
    border: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    cursor: pointer;
}
.logo-image {
    width: 568px;
    height: 500px;
    margin-left: 121px;
    display: inline-block;
}
section {
    display: inline-block;
    margin-left: 85px;
    margin-bottom: 70px;

}

h1 {
    font-weight: 700;
    font-size: 62px;
    line-height: 82px;
    color: #161A49;
}
p {
    font-weight: 400;
    font-size: 18px;
    line-height: 33px;
    color: #4B505A;
    margin-top: 47px;
    margin-bottom: 55px;
    width: 493px;   
}
.link-section {
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #6FBF44;

}
@media screen and (max-width: 900px) {
    .link-header {
        display: none;
    }
    button {
        width: 91px;
        height: 31px;
        font-size: 12px;
        line-height: 18px;
        margin-left: 210px;
    }
    main {
        display: inline-block;
        text-align: center;
        margin-top: -30px 
    }
    section {
        margin-left: 0;
        position: relative;
        top: -790px;
    
    }
    h1 {
         /* font-weight: 278px;  */
        font-size: 30px;
        line-height: 30px;
        margin: 127px 55px 0 55px;
        text-align: center;
        width: 278px;
        height: 60px;
    }
    p {
        width: 304px;
        height: 165px;
        font-size: 18px;
        line-height: 33px;
        margin: 29px 43px 26px 43px;
    } 
    .link-section {
        margin: 26px 136px 0;
    }
    .logo-image {
        width: 312px;
        height: 288px;
        margin: 335px 39px 40px 39px;
    }

  
}









